
.header-bg .img{width: 100%;}


.write-add {padding: 40rpx 60rpx;}
.write_item {margin: 30rpx 0;}
.write_item ::v-deep .dx-cell{border: 1rpx #ccc solid;border-radius: 60rpx;padding: 16rpx 40rpx;}
.write_item ::v-deep .dx-cell:after,
.select-item:after{display: none;}
.write_item .txt{font-size: 32rpx;}
.write_item .input{height: 88rpx;border-radius: 8rpx;padding: 16rpx 30rpx;border: 1rpx #ddd solid;font-size: 32rpx;}
.select-item{border: 1rpx #ccc solid!important;border-radius: 60rpx;padding: 16rpx 40rpx!important;}
.select-item .label{color: grey;}

.not-add {width: 85%;margin: 0 auto;min-height: 282rpx}
.not-add .not-add2 {height: 122rpx;margin-top: 60rpx;}
.not-add .not-add2 .p {color: #666;font-size: 32rpx;line-height: 52rpx;text-align: center;}
.not-add .not-add2 .p text {color: #F5AB72}
.not-add .not-add2 button {margin-top: 40rpx}
.not-add .fa-shopping-cart {margin-right: 10rpx;font-size: 36rpx;}
.btn {padding: 16rpx 30rpx;border-radius: 12rpx;font-size: 36rpx;}
.btn-red {background: #FA4444;color: #fff;}