.pay-frame{border: 1px #eee solid;border-radius: 3px;background: #fff;}
.pay-frame .weui-cell_input{border-bottom: 0;}
.pay-frame ._input{text-align: right;}

.pay-btn button{border-radius: 3px;}


.weui-label,.weui-input{font-size: 16px;}
.ToIndex {
	position: fixed;
	z-index: 15;
	right: 15px;
	width: 50px;
	height: 50px;
	background-color: #ff721f;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	-moz-box-shadow: 0px 0px 8px #dedede;
	-webkit-box-shadow: 0px 0px 8px #dedede;
	box-shadow: 0px 0px 8px #dedede;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.ToIndex .nav-box {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
}

.ToIndex .nav-name {
	height: 50px;
	line-height: 18px;
	padding: 0 10px;
	display: flex;
	align-items: center;
}