/* 局元素 */
.ugorup-box{border-radius: 24rpx;margin: 24rpx;background-color: #fff;overflow: hidden;}
.ugorup-box .black-title{padding: 16rpx 30rpx;display: flex;align-items: center;justify-content: space-between;}
.ugorup-box .black-title .more{font-size: 28rpx;color: #999;}


/* 头部 */
.head-info{position: relative;}
.head-bg .img{width: 100%;display: flex;}
.utop{padding: 80rpx 40rpx 180rpx;}
.utop .uinfo{display: flex;align-items: center;}
.utop .uinfo .header-img .img{width: 120rpx;height: 120rpx;border-radius: 50%;border: 4rpx #fff solid;display: flex;}
.utop .uinfo .info{flex: 1;overflow: hidden;}
.utop .uinfo .info .group{display: flex;align-items: center;}
.utop .r-nav .up-nav{border: 1rpx #fff solid;padding: 0 24rpx;border-radius: 30rpx;height: 56rpx;line-height: 54rpx;color: #fff;text-align: center;margin: 16rpx 0;}
.utop .uinfo .gosign{height: 60rpx;line-height: 60rpx;border: 1rpx #fff solid;border-radius: 40rpx;text-align: center;padding: 0 30rpx;}
.utop .login-nav{background-color: rgba(0,0,0,0.25);border-radius: 15px;}


/* 统计 */
.user-count{display: flex;position: relative;z-index: 1;}
.user-count myform,.user-count>section{width: 100%;}
.user-count .c-item{text-align: center;padding: 30rpx 0;position: relative;}
.user-count .num{line-height: 48rpx;font-size: 40rpx;}
.user-count .num .unit{font-size: 24rpx;}
.user-count .name{line-height: 40rpx;font-size: 28rpx;}
.head-count .c-item{color: #fff;}
.other-count .name{margin-top: 16rpx;}
.other-count .c-item.after::after{content: '';display: block;position: absolute;left: 0;top: 50%;width: 1rpx;background-color: rgba(0,0,0,.2);height: 72rpx;margin-top: -36rpx;}


/* 订单块 */
.orderTab{position: relative;z-index: 1;margin-top: -90rpx;}


/* 常用功能 */
.ulist-group{display: flex;flex-wrap: wrap;}
.ulist-group myform,.ulist-group>section{display: block;width: 25%;}
.ulist-group .ulist-item{text-align: center;padding: 16rpx 10rpx;}
.ulist-group .item-icon{height: 60rpx;line-height: 60rpx;position: relative;width: 48rpx;margin: 0 auto;}
.ulist-group .item-icon .iconfont{font-size: 40rpx;}
.ulist-group .item-icon .icon{width: 50rpx;height: 50rpx;}
.ulist-group .item-icon .num{position: absolute;top: -16rpx;right: -16rpx;border-radius: 50%;width: 36rpx;line-height: 32rpx;text-align: center;border: 2rpx solid red;font-size: 20rpx;color: red;background-color: #fff;}
.ulist-group .item-name{font-size: 28rpx;height: 40rpx;line-height: 40rpx;color: #555;margin-top: 10rpx;}