.ass_list .ass_item{padding: 15px;display: flex;}
.ass_list .ass_cover .img{width: 115px;height: 115px;margin-right: 10px;display: flex;border-radius: 6px;}
.ass_list .ass_info{flex: 1;overflow: hidden;display: flex;flex-wrap: wrap;align-content: space-between;}
.ass_list .ass_info .ass_title{font-size: 15px;line-height: 22px;height: 44px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;width: 100%;}
.ass_list .ass_info .price{width: 100%;line-height: 20px;}
.ass_list .ass_info .price .cprice{text-decoration: line-through;color: #999;}
.assemble .name{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}


.group .group-box{background: #fff3f3;position: relative;}
.group .group-box:before{content: '';display: block;position: absolute;top: -10px;width:0;height:0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom:10px solid #fff3f3;left: 50%;margin-left: -5px;}
.group .con{text-align: center;}
.group .con .ass-state{font-size: 20px;color: #333;height: 34px;line-height: 34px;}
.group .con .ass-state .num{font-size: 28px;color: #eb3d3c;}
.group .con .ass-disc{font-size: 15px;color: #555;display: flex;justify-content: center;}
.group .people{display: flex;justify-content: center;margin-top: 10px;}
.group .people .p-item{margin: 10px;}
.group .people .img{width: 60px;height: 60px;border-radius: 50%;display: flex;}
.group .people .main{position: relative;}
.group .people .main .img{border: 2px #f49f9a solid;}
.group .people .tab{position: absolute;bottom: 0;left: 10px;background: #f02e24;font-size: 12px;width: 40px;border-radius: 10px;color: #fff;text-align: center;}


.ass-rule .process{display: flex;justify-content: space-between;}
.ass-rule .process .item{font-size: 12px;color: #999;}
.ass-rule .process .item .name{padding-left: 6px;}
.ass-rule .rule-con ._p{text-align: justify;}