page{overflow-x: hidden;}

/* 轮播 */
.swiper_box{background-image: url(../../static/indexbg.jpg);background-size: 100% auto;background-position: top left;background-repeat: no-repeat;padding-top: 120rpx;}
.swiper_box image{width: 100%;}


/* 组广告 */
.groupAd{background-color: #fff;}
.groupAd .img{width: 100%;display: flex;height: 200upx;border-radius: 12upx;}
.groupAd image{width: 100%!important;}


.wx-swiper-dot {width: 8upx;height: 8upx;display: inline-flex;background: none;justify-content: space-between;}
.wx-swiper-dot::before {content: '';flex-grow: 1;background: rgba(255, 255, 255, 0.8);border-radius: 16upx;overflow: hidden;}
.wx-swiper-dot-active::before {background: red;}
.wx-swiper-dot.wx-swiper-dot-active {width: 16upx;}


.pro-scroll{background-image: url(../../static/news-bg.jpg);background-repeat: no-repeat;background-size: 100% auto;background-position: top left;}
.pro-scroll .dxi-product-scroll{padding: 30rpx 20rpx 20rpx 12rpx;}
.pro-scroll .top{position: relative;}
.pro-scroll .top .num{position: absolute;top: 38rpx;left: 180rpx;width: 32rpx;height: 24rpx;display: flex;align-items: center;justify-content: center;}