
/* 搜索框 */
.title-search {width: 100%;height: 50px;display: flex;align-items: center;padding: 7px 10px;border-bottom: #ddd 1px solid;width: 100%;}
.title-search .search-input{width: 100%;display: flex;}
.title-search .search-input .linput{flex: 1;overflow: hidden;}
.title-search .search-input .weui-cell_input{border: 1px #ddd solid;border-radius: 20px;padding: 0 15px!important;}
.title-search .select-item{padding: 0 10px;width: 60px;text-align: center;}
.title-search .select-item .iconfont{font-size: 20px;line-height: 24px;}
.title-search .select-item .name{line-height: 16px;font-size: 11px;}

.now-item .now-box{box-shadow: 0 0 20rpx 0 hsla(0, 6%, 58%, .2);-webkit-box-shadow: 0 0 20rpx 0 hsla(0, 6%, 58%, .2);-moz-box-shadow: 0 0 20rpx 0 hsla(0, 6%, 58%, .2);}
.now-item .head .img {width: 60px;height: 60px;display: flex;border-radius: 50%;margin: 0 auto;}


.business .list-item {display: flex;align-items: center;position: relative;align-items: center;}
.business .list-item .info-left .img {width: 60px;height: 60px;display: flex;border-radius: 50%;}
.business .list-item .info-con {width: 100%;flex: 1;overflow: hidden;text-align: left;}
.business .list-item .info-con .CItem {width: 100%;}
.business .list-item .info-con .Cmark {margin-top: 5px;line-height: 18px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;width: 100%;}
.business .list-item .info-con .people {text-align: left;width: 100%;line-height: 16px;}
.business .list-item .num {}
.business .list-item .num ._p {height: 20px;line-height: 20px;}


.choose-diag .icon_off{bottom: -50px!important;}
.choose-diag .icon_off .iconfont{font-size: 32px!important;}
.choose-box .head .img {width: 100%;display: flex;height: 194px;}
.choose-box .layermanim{border-radius: 6px;}
.choose-type .Ctype{padding-left: 15px;margin-right: 20px;position: relative;font-size: 14px;}
.choose-type .Ctype:before{content:'';display:block;width: 10px;height: 5px;transform: rotate(-45deg);border-width: 0 0 1px 1px;border-style: solid;border-color: #333;margin-top: 2px;margin-left: 2px;position: absolute;left: 0;top: 4px;}


.choose-select .weui-cell_input{border-bottom: 0!important;padding: 0!important;margin-bottom: 10px;}
.choose-select .radioType>.weui-cell__hd{display: none;}
.choose-select .radioType radio-group{display: flex;}
.choose-select .radioType .weui-check__label{flex-direction: row-reverse;border-bottom: 0!important;width: 35%!important;}
.radioType .weui-check__label .weui-cell__bd{font-size: 15px;}
.radioType .weui-check__label radio{zoom: 75%;display: flex;}


.choose-diag .btn-group .nav{width: 120px;text-align: center;}