page{overflow-x: hidden;}
/* 产品轮播 */
.show_banner{position: relative;z-index: 2;}
.show_banner image{width: 100%}
.show_banner .banner_swiper{position: relative;z-index: 2;}
.member{position: absolute;z-index: 3;top: 100rpx;left: 30rpx;height: 80rpx;background-color: rgba(0,0,0,0.45);border-radius: 40rpx;width: 420rpx;}
.member_swiper{height: 80rpx;}
.member_swiper .item{display: flex;align-items: center;padding: 0 10rpx;height: 80rpx;}
.member_swiper .item .head{height: 60rpx;width: 60rpx;display: flex;border-radius: 50%;}
.member_swiper .item .name{flex: 1;font-size: 28rpx;color: #fff;padding: 0 16rpx;}


/* 抢购 */
.countdown-row{display: flex;align-items: center;justify-content: space-between;height: 100rpx;padding: 0 40rpx;border-radius: 50rpx 50rpx 0 0;position: relative;z-index: 4;margin-top: -100rpx;}
.countdown-row .img{width: 120rpx;}


/* 信息 */
.show_info .price_old{text-decoration: line-through;}
.labelG .dxi-tag{padding: 0 10rpx;border-radius: 4rpx;font-size: 20rpx;}


/* =============== 内容 =============== */
/* 切换 */
.show_tabs{display: flex;height: 100rpx;position: relative;justify-content: space-between;align-items: center;background-color: #fff;}
.show_tabs::after{content: '';position: absolute;border-bottom: 1rpx solid rgba(0,0,0,.1);-webkit-transform: scaleY(1);transform: scaleY(1);bottom: 0;right: 0;left: 0;}
.show_tabs .item{width: 25%;text-align: center;font-size: 30rpx;color: #999;}
.show_tabs .cur{position: relative;color: #333;}
.show_tabs .cur::after{content: '';position: absolute;width: 60rpx;height: 6rpx;border-radius: 4rpx;bottom: -26rpx;background: rgb(211, 8, 2);left: 50%;margin-left: -30rpx;}

.show_content ::v-deep .dxi-tabs-relative::before{border-bottom-color: rgba(0,0,0,.1);transform:scaleY(1);}
.show_content_sec{background-color: #fff;margin-bottom: 16rpx;}
.show_content_sec01{padding: 24rpx 30rpx;}

/* 规则 */
.flow{background-color: #f4f5f9;padding: 16rpx 12rpx;display: flex;align-items: center;font-size: 26rpx;margin-bottom: 30rpx;}
.flow .type{border: 2rpx #d30802 solid;color: #d30802;font-size: 26rpx;line-height: 1;padding: 10rpx 10rpx;border-radius: 4rpx;}
.flow .path{padding: 0 30rpx;position: relative;}
.flow .path:after{content: " ";display: block;height: 10rpx;width: 10rpx;border-width: 3rpx 3rpx 0 0;border-color: #c8c8cd;border-style: solid;transform: matrix(.71,1,-.71,1,0,0);position: relative;top: -4rpx;position: absolute;top: 50%;margin-top: -6rpx;right: 0;}
.flow .path:last-child:after{display: none;}

/* 内容标题 */
.sec_title{line-height: 1;display: flex;align-items: center;}
.sec_title .name{font-size: 34rpx;font-weight: 700;color: #333;position: relative;}
.sec_title .name::after{content: "";display: block;position: absolute;bottom: -8rpx;height: 12rpx;width: 100%;background-color: #d30802;opacity: .2;}
.sec_title .tagG{display: flex;align-items: center;}
.sec_title .tagG .tag{border: 2rpx #d30802 solid;color: #d30802;font-size: 22rpx;line-height: 1;padding: 6rpx 10rpx;border-radius: 4rpx;margin-left: 16rpx;}

/* 信息块 */
.sec-chunk{padding: 40rpx 70rpx 40rpx 30rpx;border: 1rpx #e0e0e0 solid;border: 4rpx;box-shadow: 0 0 10rpx 6rpx rgba(0,0,0,0.1);margin: 40rpx 0 20rpx;position: relative;}
.sec-chunk::after{content: " ";display: block;height: 12rpx;width: 12rpx;border-width: 4rpx 4rpx 0 0;border-color: #c8c8cd;border-style: solid;transform: matrix(.71,1,-.71,1,0,0);position: relative;top: -4rpx;position: absolute;top: 50%;margin-top: -6rpx;right: 30rpx;}
.sec-chunk .row{display: flex;margin: 16rpx 0;line-height: 36rpx;color: #666;font-size: 26rpx;}
.sec-chunk .row .icon{font-size: 24rpx;padding-right: 10rpx;}
.sec-chunk .row .txt{flex: 1;}

/* 内容 */
.show_content_sec02,.show_content_sec03{padding: 50rpx 30rpx;}
.content .item{margin-top: 50rpx;display: flex;line-height: 50rpx;font-size: 28rpx;}
.content .item .ltxt{color: #666;width: 140rpx;}
.content .item .rtxt{flex: 1;color: #333;}
.content .item .rtxt .wxParse{line-height: 50rpx;font-size: 28rpx;text-align: justify;}

.show_content_sec04 .sec_title{padding: 50rpx 30rpx 20rpx;}

/* =============== 内容 =============== */